#price {
  font-weight: 700;
  margin-top: 0px;
  padding-top: 0px;
}

#productDetail {
  font-size: 14px;
  font-weight: 500;
  margin-top: 10px;
}

.li {
  font-size: 14px;
  font-weight: 500;
}

.link {
  text-decoration: none;
}
